

$buton-menu-gradient-0:  #a5eead;
$buton-menu-gradient-1:  #f58de4;
$buton-header-background: #cc92c985;
$buton-header-gradient-1: #eea5ea; // #eab4eaf7
$buton-header-gradient-2: #ff63ea21;
$buton-header-gradient-2 : #f5ca3eba;

$buton-header-active:  #86226f5e;
$icon-shadow:  #988882;
$gallery:#853386

