// @use 'vars';
// Generic
$buton-menu-gradient-0:  #a5eead;
$buton-menu-gradient-1:  #f58de4;
$buton-header-background: #cc92c985;
$buton-header-gradient-1: #eea5ea;
$buton-header-gradient-2: #ff63ea21;
$buton-header-gradient-3: #cc92c985;

$buton-header-active:  #86226f5e;
$buton-header-no-active: white;
$icon-shadow:  #ad2e905e;

/* supprimer le focus de la sélection
Effacer les données de navigation pour le prende en compte */
/* 
a { outline: none; }
DON'T DO IT!
*/
input:focus,
select:focus,
textarea:focus,
button:focus,
form-control:focus
{
    outline: none;
	outline: transparent;
}
/* CHROME / preferences / apparence / param avancées / mettre en surbrillance rapidement l'objet ciblé => OFF */

body, html {
	font-family: 'CaviarDreams', 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
span {
	font-weight: 800;
}
h2, h3, h4, p, ul {
    font-family: 'CaviarDreams', 'Raleway', sans-serif;
}
h2 {
	text-transform: uppercase;
	//margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #fff;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color:#608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	//padding: 15px;
	transition: all 0.8s ease-out;
}
/* Navigation */

.logo{
	box-shadow: 10px 10px 10px rgba(180, 240, 14, 0.555);
	//border-radius: 50%;
	display: block;
	width: 54px;
	height: 54px;
}
.navbar-collapse {
    //padding-left: 180;
    text-align: right;
}
#menu.navbar-default {

}
#menu a.navbar-brand {

}
#menu.navbar-default .navbar-nav > li > a {
	//font-family: 'Lato', sans-serif;
	font-family: "CaviarDreams", "Raleway", sans-serif;
	font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
	text-transform: uppercase;
	//color: rgba(85, 85, 85, 0.787);
	color: #614407;
	font-size: 20px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
	border-radius: 25px;
	text-shadow: 10px 10px 10px rgba(18, 19, 17, 0.555);
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 4px !important;
	background: linear-gradient(to right,  #a5eead 0%, #fb5cee 100%) !important;
	content: "" !important;
	transition: width 0.2s ease-out !important;
}
.navbar-toggle {
	/*border-radius: 0;*/
	padding: 20px;
    background-image: linear-gradient(to right, #eab4eaf7 0%, #ff63ea21 100%);
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	// RG31 border-color: #608dfd;
}
/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
color: #fff;
border-radius: 50px;
transition: all 0.5s linear;
border: 0;
margin-bottom: 0px;
margin-top: 60px;
border: 2px solid #fff;
width: 180px;
height: 70px;
//background-color: rgba(0, 0, 0, 0.253);
//background: transparent;
background-image:url("../img/doctolib-icone-.png");
background-size: contain;
background-repeat: no-repeat;
background-color: $buton-header-active;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image:url("../img/doctolib-icone-.png");
	/* @RG31 couleur bouton */
	background-color: $buton-header-no-active;
}
.btn:active, .btn.active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section  => TON SITE VITRINE */
// HEADER
#header .intro-text {
	padding-top: 250px;
	padding-bottom: 250px;
	text-align: center;
}
#header .sub-intro-text {
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 80px;

}
// Le texte dans data.json fera varier l'image en background 
.intro {
	font-family: 'CaviarDreams', 'Raleway', sans-serif;
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	color: rgb(255, 255, 255);
	font-size: 82px;
	padding-top: 0px;
	padding-bottom: 20px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	font-family: CaviarDreams;
	color: #fff;
	font-size: 62px;
	margin: 0 auto;

}
.intro a {
	font-family: CaviarDreams_Bold;
	text-transform: none;
	font-size: 15px;
}
#header .intro p {
	margin-bottom: 40px;	
}
/* Features Section  => PRATIQUES */
#features {
	padding: 100px 0;
	background: #f6f6f6;
}
#features p, span{
font-family: CaviarDreams;
font-size: 18px;
}
/* pour les icones => not use => icones remplacés par des images
#features i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
*/
#features img {
	width: 100px;
	height: 100px;
    margin-left: auto;
    margin-right: auto;
	color:#988882;
	/*border: solid;*/
	border-radius: 50%;
	padding: 10px;
	box-shadow: 10px 10px 10px rgba(170, 77, 77, 0.555); 
}

/* Cabinet Section => MON CABINET*/

#cabinet .container {
	padding-top: 140px;
	min-height: 100%;
    width: 100%;
}
#cabinet h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#cabinet h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, hsl(310, 84%, 76%) 0%, #a5eead 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
	text-align: center;
}
#cabinet .row h3 {

	}
#cabinet .about-text {
padding-left: 30px;
}
#cabinet .about-text p {

}
#cabinet .about-text li:before {

}
#cabinet img {
	width: 100%;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.829);
	margin-top: 30px;
	margin-bottom: 60px;
}
#cabinet p {
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	color: black;
	border-radius: 10px;
	font-size: 18px;
	margin-top: 30px;
	margin-right: 0px;
	font-family: CaviarDreams;
}
/* Soins Section => SOINS */
#soins {
	font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
	padding: 140px 0;
	background: url(../img/intro-bg.jpg) ;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#soins h2 {
	color: white;
}
#soins .section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
#soins i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: white;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#soins h3 {
	font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
	font-weight: 800;
	font-family: CaviarDreams;
    font-size: 18px;
	padding: 25px;
	color: #f58de4;
	padding-bottom: 0px;
	border-width:0px 0px 1px 0px;
	text-transform: uppercase;
}
#soins p {
	font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
	color: white;
	padding: 15px;
}
#soins hr {
	height: 2px;
	background: white;
}
#soins .service-desc {
	margin: 10px 10px 20px ;
	margin-bottom: 40px;
	background-color: rgba(107, 103, 103, 0.877);
	//background: linear-gradient(to left, #ff63ea21 0%, #171817 200%);
	border-right:2px solid rgb(255, 255, 255); 
	border-top:2px solid rgb(255, 255, 255); 
	border-radius: 25px;
	min-height: 20%;
}
#soins .service-desc p {
	text-align: center;

}
#soins .service-desc span {
	font-size: 12px;
}
/* ---read more -- */
#soins details {
	position:relative;
	display:inline;
  }
  #soins details summary {
	display:block;
	cursor: pointer;
	color:#fff;
	font-weight: bolder;
	border: solid;
	background-color:  #f5ca3eba;;
	border-color:  #f5ca3eba;;
	border-radius: 60px 0px 60px 0px;
	padding: 10px;
	box-shadow: 20px 20px 20px rgba(170, 77, 77, 0.555);
	line-height: 0px;
  }
  #soins details summary:focus {
	outline:none;
  }
  #soins details[open] {
	display:block;
	padding-bottom:25px;
	padding-top:10px;
	animation: open linear;
  }
  #soins details[open] summary {
	position:absolute;
	bottom: 0;
	left:0;
  }
  #soins details #open{padding-left:5px;text-align:middle;}
  #soins details #open:after{
	  display: inline-block;
	  position:relative;
	  top: -3px;
	  padding-left: 8px;
	  content: "\00bb";
	  transform: rotate(90deg);
  }
  #soins details[open] #open{display:none;}
  #soins details #close{display:none;}
  #soins details[open] #close{display:block;}
  ::-webkit-details-marker {display: none;}
/* ---end read more -- */  

/* Portfolio Section => GALERIE */
#portfolio {
	padding: 100px 0;
}
.portfolio-item {
	margin: 1px -15px 0 -14px;
	padding: 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
	margin: 0;
	border-radius: 60px 0px 60px 0px;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(to right, #853386 40%,  #ff63ea21 100%);
    //background: linear-gradient(to right, #f58de4 0%, #853386 100%);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Temoignages Section */
#temoignages {
	background:rgb(226, 209, 209);
		padding-top: 140px;
		min-height: 100%;
		width: 100%;
}
#temoignages i {
	color: #e6e6e6;
	font-size: 32px;
	margin-bottom: 20px;
}
.testimonial {
	position: relative;
	padding: 0px;
	padding-top: 20px;
}
.testimonial-image {
	float: left;
	margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
}
.testimonial-content p {
	display:block;
	cursor: pointer;
	color: rgb(82, 80, 80);
	background-color: white;
	border-radius: 0px 40px 0px 40px;
	padding: 40px;
	//margin-bottom: 30px;
	box-shadow: 20px 20px 20px rgba(170, 77, 77, 0.555);
	//line-height: 0px;
}
.testimonial-meta {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #666;
}
.testimonial details{
	display:block;
	cursor: pointer;
	color: rgb(82, 80, 80);
	background-color: white;
	border-radius: 0px 40px 0px 40px;
	padding: 20px;
	//margin-bottom: 30px;
	box-shadow: 20px 20px 20px rgba(170, 77, 77, 0.555);
	//line-height: 0px;
  }

/* ---read more -- */
.testimonial details {
	position:relative;

  }
  .testimonial details summary {
	display:block;
	cursor: pointer;
	color:#fff;
	font-weight: bolder;
	border: solid;
	background-color: rgba(107, 103, 103, 0.877);
	background-color: rgba(107, 103, 103, 0.877);
	border-radius: 60px 0px 60px 0px;
	padding: 15px;
	box-shadow: 20px 20px 20px rgba(170, 77, 77, 0.555);
	line-height: 0px;
  }
  .testimonial details summary:focus {
	outline:none;
  }
  .testimonial details[open] {
	display:block;
	padding-bottom:25px;
	padding-top:10px;
	animation: open linear;
  }
  .testimonial details[open] summary {
	position:absolute;
	bottom: 0;
	left:0;
  }
  .testimonial details #open{padding-left:5px;text-align:middle;}
  .testimonial details #open:after{
	  display: inline-block;
	  position:relative;
	  top: -3px;
	  padding-left: 8px;
	  content: "\00bb";
	  transform: rotate(90deg);
  }
  .testimonial details[open] #open{display:none;}
  .testimonial details #close{display:none;}
  .testimonial details[open] #close{display:block;}
  ::-webkit-details-marker {display: none;}
/* ---end read more -- */  


/* Team Section */
#team {
	padding: 100px 0;
}
#team h4 {
	margin: 5px 0;
}
#team .team-img {
	width: 240px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 10px 0 0 0;
	color: #888;
}
/* Contact Section => CONTACT et FORM*/
#contact {
	font-family: 'CaviarDreams_Bold', 'Raleway', sans-serif;
	padding: 100px 0 60px 0;
	padding-top: 150px;
	text-align: center;
	color: rgba(255,255,255,.75);
	display: table;
	width: 100%;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	//background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.new-line {
	white-space: pre-line;
	text-align: left;
  }
#contact h2 {
	color: white;
}
#contact h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
#contact h3 {
	color: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
	font-weight: bold;
	border-width:0px 0px 1px 0px;
	border-style:solid dotted;
	border-color: white;
	padding: 10px;
	padding-bottom: 30px;
}
#contact h5 {
	margin-bottom: 10px;
	display: flex;
	text-align: left;
}
#contact h6 {
	font-size: 16px;
	color: #fb5cce;
}
#contact h8 {
	font-size: 16px;
}
#contact p {
	font-family: 'CaviarDreams_Bold', 'Raleway', sans-serif;
	text-shadow:10px 10px 20px black;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	//float: left;
}
#contact .contact-item {
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	margin-bottom: 10px;
	display: flex;
}
#contact .contact-item .fa {
	margin-right: 10px;
}
#contact .contact-info {
background: linear-gradient(to left, #7a6f75 0%, #171817 100%) !important;
border-radius: 40px;
text-align: center;
padding-bottom: 20px;
}
#contact .liste-contact-adress {
	color: #73d616ba;
	}
#contact .liste-contact-tel {
	color: #d61616ba;
	}

#contact .liste-contact-certif {
	color: white;
	font-size:medium;
		}
#contact a {
	//color:#FFFF00;
	text-decoration:underline;
	color: white;
	}
#contact a:hover
{
	color: #3ec1f5ba;
}
#contact .doctolib {
	color: rgb(32, 216, 26);
margin-left: inherit;
margin-bottom: 0px;
display: block;
text-align: left;
  }

/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	//color: #888;
	color: rgb(44, 43, 43);
	font-size: 14px;
}
#footer a {
	color: #608dfd;
	font-weight: bold;
	font-size: 18px;
}
#footer a:hover {
	border-bottom: 2px solid #608dfd;

}

/* ------------------------------------------------------------------*/

@media (max-width: 768px) {
h2{
	font-weight: 400;
  }
.intro h1 {
	font-size: 55px;	
}
/* burger */
.home {
	//box-shadow: 10px 10px 10px rgba(180, 240, 14, 0.555);
}
/* Header Navigation */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: linear-gradient(to right,  #f9f7f8 0%, #f5ca3eba 100%) !important;
	}
#portfolio span {
	background-color: white;
	padding: 5px;
	border-radius: 0px 20px;
}
/* Header Section  => TON SITE VITRINE */
#header .intro-text {
		padding-top: 150px;
		min-height: 100%;
		width: 100%;
}
#header .top-intro-text {
	font-size: 45px;
}

#header .sub-intro-text {
    font-size: 30px;
}
.btn-custom {
	margin-top: 20px;
	}
/* Features Section  => PRATIQUES */
#features {
margin-top: -30px;
}
#features .section-title {
	margin-bottom: 35px;
}
#features p {
    margin: 15 0 40px;
}
/*about*/
#cabinet .container {
	//background-color:rgb(240, 223, 223);
	padding-top: 100px;
}
#cabinet .row {
	//background-color:rgb(240, 223, 223);
	padding-left: 0px;
}

#cabinet p {
	font-weight: bolder;
	//background-color:rgb(32, 216, 26, 10%);
	border-radius: 20px;
	padding: 20px 8px;
    background-color:rgb(240, 223, 223);
	margin-top: 10px;

}
#cabinet .about-text {
    padding-left: 0px; 
}
.testimonial-content p {
	font-weight: bolder;
}
.testimonial-content p {
	padding: 15px;
}



/* soins ---------------------- */
#soins .service-desc {
	min-height: 20%;
}
#soins .service-desc span {
    font-size: 19px;
	//color: #614407;
}
/* Features Section  => CONTACT */
#contact .form-check-link {
	font-size: 12px;
	margin: 0px;
  }
#contact .form-check-label {
	font-size: 12px;
	margin: 0px;
	margin-right: 15px;
  }
#contact .form-check {
	margin-bottom: 15px;
  }
#contact h2 {
	  margin: 0px;
	  //font-size: 25px;
  } 
#contact .contact-info {
	margin-top: 15px;
	padding: 10px;
	}
#contact h3 {
	color: #fff;
	margin-top: 40px;
}
#contact .thanks{
	font-size: 15px;
	border-radius: 30px 0px 30px 0px;
	margin-left: 60px;
	margin-top: 0px;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: 0%;
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
	opacity: 1;
	//background-image: linear-gradient(to right, #eab4eaf7 0%, #ff63ea21 100%);
	//background-color: white;
	color: rgba(19, 1, 1, 0.747);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	//font-weight: 500;
	text-transform: initial;
	//text-decoration: underline;
}
.hover-bg .hover-text>h4:hover {
}
.hover-bg:hover .hover-text>h4 {
}
.hover-bg:hover .hover-text {
}
/* Portfolio Section => GALERIE */
#portfolio {
	padding: 100px 0;
}
.portfolio-item {
	margin: 30px -15px 0 -14px;
	padding: 0;
}
.portfolio-item .hover-bg {
}
}
input:focus,
select:focus,
textarea:focus,
button:focus,
form-control:focus
{
    outline: none;
	outline: transparent;
}
/* ------------------------------------------------------------------*/