@charset "UTF-8";
/* supprimer le focus de la sélection
Effacer les données de navigation pour le prende en compte */
/* 
a { outline: none; }
DON'T DO IT!
*/
input:focus,
select:focus,
textarea:focus,
button:focus,
form-control:focus {
  outline: none;
  outline: transparent;
}

/* CHROME / preferences / apparence / param avancées / mettre en surbrillance rapidement l'objet ciblé => OFF */
body, html {
  font-family: "CaviarDreams", "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

span {
  font-weight: 800;
}

h2, h3, h4, p, ul {
  font-family: "CaviarDreams", "Raleway", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #fff;
  font-weight: 400;
}

a:hover, a:focus {
  text-decoration: none;
  color: #608dfd;
}

ul, ol {
  list-style: none;
}

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1E7A46;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: "CaviarDreams", "Raleway", sans-serif;
  font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
  text-transform: uppercase;
  color: rgba(85, 85, 85, 0.787);
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0 20px;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #eea5ea 0%, #fb5cee 100%);
  content: "";
  transition: width 0.2s;
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #a5eead 0%, #fb5cee 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.section-title p {
  font-size: 18px;
}

.btn-custom {
  color: #fff;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  margin-bottom: 60px;
  border: 2px solid #fff;
  background-image: linear-gradient(to right, #eab4eaf7 0%, #ff63ea21 100%);
  box-shadow: 10px 10px 10px rgba(180, 240, 14, 0.555);
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
  color: #fff;
  background-image: none;
  /* @RG31 couleur bouton */
  background-color: #86226f5e;
}

.btn:active, .btn.active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header Section  => TON SITE VITRINE */
#header .intro-text {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}

.intro {
  font-family: "CaviarDreams", "Raleway", sans-serif;
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}

.intro h1 {
  color: white;
  font-size: 82px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}

.intro p {
  font-family: CaviarDreams;
  color: #fff;
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.intro a {
  font-family: CaviarDreams_Bold;
  text-transform: none;
  font-size: 15px;
}

/* Features Section  => PRATIQUES */
#features {
  padding: 100px 0;
  background: #f6f6f6;
}

#features p, span {
  font-family: CaviarDreams;
  font-size: 18px;
}

/* pour les icones => not use => icones remplacés par des images
#features i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
*/
#features img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #988882;
  /*border: solid;*/
  border-radius: 50%;
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(170, 77, 77, 0.555);
}

/* About Section => MON CABINET*/
#about {
  background: #f6f6f6;
  padding: 100px 0;
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}

#about .about-text li:before {
  content: "";
  font-family: "FontAwesome";
  color: #5cfb84;
  font-size: 10px;
  font-weight: 300;
  padding-right: 8px;
}

#about img {
  width: 520px;
  margin: auto;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

/* Services Section => SOINS */
#services {
  font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
  padding: 100px 0;
  /*width: 100%;*/
  background: url(../img/intro-bg.jpg) center center no-repeat;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#services h2 {
  color: white;
}

#services .section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#services h3 {
  font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
  font-weight: 500;
  padding: 5px 0;
  color: white;
}

#services p {
  font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
  color: white;
  padding-bottom: 20px;
}

#services hr {
  background: white;
}

#services .service-desc {
  margin: 10px 10px 20px;
  margin-bottom: 40px;
  background-color: white;
  background: linear-gradient(to left, #ff63ea21 0%, #171817 200%);
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-radius: 25px;
}

/* Portfolio Section => GALLERIE */
#portfolio {
  padding: 100px 0;
}

.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
  border-radius: 60px 0px 60px 0px;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right, #853386 40%, #ff63ea21 100%);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  font-family: "CaviarDreams_Bold", "Open Sans", sans-serif;
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}

#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.testimonial {
  position: relative;
  padding: 20px;
}

.testimonial-image {
  float: left;
  margin-right: 15px;
}

.testimonial-image, .testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.testimonial-content {
  position: relative;
  overflow: hidden;
}

.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

/* Team Section */
#team {
  padding: 100px 0;
}

#team h4 {
  margin: 5px 0;
}

#team .team-img {
  width: 240px;
}

#team .thumbnail {
  background: transparent;
  border: 0;
}

#team .thumbnail .caption {
  padding: 10px 0 0 0;
  color: #888;
}

/* Contact Section => CONTACT et FORM*/
#contact {
  font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
  padding: 100px 0 60px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  display: table;
  width: 100%;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#contact .form-check {
  padding-block: 10px;
  margin-bottom: 40px;
  padding-left: 30px;
  border-radius: 20px;
  background: #0000008c;
  background-image: linear-gradient(to left, #eab4eaf7 0%, #ff63ea21 100%);
  box-shadow: 10px 10px 10px rgba(180, 240, 14, 0.555);
}

#contact .form-check-label {
  font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
  font-size: 13px;
  padding: 0px;
  color: white;
  margin: 5px;
}

#contact .form-check-link {
  font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
  font-size: 12px;
  text-decoration: underline;
  margin: 5px;
}

#contact .thanks {
  font-family: "CaviarDreams", "Open Sans", sans-serif;
  font-size: 15px;
  padding: 10px 25px 10px;
  color: white;
  position: absolute;
  background-color: #fff;
  margin-top: 61px;
  margin-left: 40px;
  border-radius: 50px 0px 50px 0px;
  font-weight: 0 !important;
  background: linear-gradient(to left, #f9f7f8 0%, #171817 100%) !important;
}

#contact h2 {
  color: white;
}

#contact h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #f58de4 0%, #a5eead 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#contact h3 {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
  font-weight: bold;
  border-width: 1px 0px 1px 0px;
  border-style: solid dotted;
  border-color: white;
  padding: 10px;
}

#contact p {
  font-family: "CaviarDreams_Bold", "Raleway", sans-serif;
  text-shadow: 10px 10px 20px black;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom {
  background: #0000008c;
  background-image: linear-gradient(to right, #eab4eaf7 0%, #ff63ea21 100%);
  box-shadow: 10px 10px 10px rgba(180, 240, 14, 0.555);
}

#contact .btn-custom:hover {
  background-image: linear-gradient(to right, #991f99f7 0%, #ff63ea21 100%);
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  /* RG31 */
  border-radius: 30px;
}

#contact .form-control:focus {
  border-color: #999;
  outline: none;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-item {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#contact .contact-item span {
  color: white;
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 5px;
}

#contact .contact-info {
  background: linear-gradient(to left, #f9f7f8 0%, #171817 100%) !important;
  border-radius: 40px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}

/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}

#footer p {
  color: #2c2b2b;
  font-size: 14px;
}

#footer a {
  color: #608dfd;
}

#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  /* @RG31*/
  /* Header Section  => TON SITE VITRINE */
  h2 {
    font-weight: 400;
  }

  .intro h1 {
    font-size: 55px;
    margin: 0px;
  }

  /* Navigation */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /*background-color: $buton-header-gradient-2;*/
    background: linear-gradient(to right, #f9f7f8 0%, #f5ca3eba 100%) !important;
  }

  /* Features Section  => PRATIQUES */
  #features {
    margin-top: -30px;
  }

  .section-title {
    margin-bottom: 35px;
  }

  /* Features Section  => CONTACT */
  #contact .form-check-link {
    font-size: 12px;
    margin: 0px;
  }

  #contact .form-check-label {
    font-size: 12px;
    margin: 0px;
    margin-right: 15px;
  }

  #contact .form-check {
    margin-bottom: 15px;
  }

  #contact h2 {
    margin: 0px;
  }

  #contact .contact-info {
    margin-top: 15px;
    padding: 10px;
  }

  #contact h3 {
    color: #fff;
    margin-top: 40px;
  }

  #contact .thanks {
    font-size: 15px;
    border-radius: 30px 0px 30px 0px;
    margin-left: 60px;
    margin-top: 0px;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus,
form-control:focus {
  outline: none;
  outline: transparent;
}

/*# sourceMappingURL=style.css.map */
